<div class="wrapper">
  <div class="content">
    <ul>
      <% @restaurants.each do |restaurant| %>
        <% url = restaurant.id %>
        <% average = 0 %>
        <li>
          <h1 style= "display: inline"><%= link_to restaurant.name, restaurant_path(restaurant)%></h1>
          <div class="toolbar">
            <%= link_to edit_restaurant_path(restaurant) do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Edit
            <% end %>
            |
            <%= link_to restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              Delete
            <% end %>
          </div>
          <div class="content-txt">
            <% count = restaurant.reviews.size %>
            <% sum = 0 %>
            <% restaurant.reviews.each do |review| %>
                <% sum += review.rating  %>
            <% end %>
            <% average = (sum / count).to_f %>
            Average : <%= average.round(2) %>
          </div>
          <div class="content-txt">
            <i class="fa fa-map" aria-hidden="true"></i>
            <%= restaurant.address %>
          </div>
          <div class="content-txt">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <%= restaurant.phone_number %>
          </div>
          <div class="content-txt">
            <i class="fa fa-flag" aria-hidden="true"></i>
            <%= restaurant.category %>
          </div>
        </li>
      <% end %>
    </ul>
    <p style="text-align: center; margin-top: 20px"><%= link_to "Add a new restaurant", new_restaurant_path, class:"btn btn-primary" %></p>
  </div>
</div>
