<div class="wrapper">
  <div class="content">
    <div>
      <h1 style= "display: inline"><%= @restaurant.name %></h1>
      <div style= "display: inline", class="toolbar">
        <%= link_to edit_restaurant_path(@restaurant) do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit
        <% end %>
         |
        <%= link_to restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          Delete
        <% end %>
      </div>
    </div>
    <div class="details">
      <div class="content-txt">
          <i class="fa fa-map" aria-hidden="true"></i>
          <%= @restaurant.address %>
      </div>
      <div class="content-txt">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <%= @restaurant.phone_number %>
      </div>
      <div class="content-txt">
          <i class="fa fa-flag" aria-hidden="true"></i>
          <%= @restaurant.category %>
      </div>
    </div>
  </div>
  <div>
    <h2>The latest reviews:</h2>
    <div>
      <% @reviews.each do |review| %>
        <% url = review.id %>
        <li class="review" >
          <div>
            <% review.rating.times do %>
              <i class="fa fa-star" aria-hidden="true" style="color: #FFBD00"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="fa fa-star" aria-hidden="true" style="color: #DDDDDD"></i>
            <% end %>
          </div>
          <h4><%= review.content %></h4>
        </li>
      <% end %>
    </div>
    <div>
      <p style="text-align: center; margin-top: 20px"><%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class:"btn btn-primary" %></p>
    </div>
    <div style="text-align: center; margin-top: 20px"><%= link_to "And back to the home, Simone", restaurants_path, class:"btn btn-primary" %></div>
  </div>
</div>
